.container {
	display: flex;
	justify-content: right;
}

.back {
	border: 1px solid var(--color-primary);
	background: var(--color-primary-background);
	border-radius: .75rem;
	padding: 0.75rem 1rem;
	font-size: 1.8rem;
    color: var(--color-primary);
	cursor: pointer;
	margin-right: 2rem;
}
.disable {
	display: none;
}

.next:after {
	content: 'Next'
}

.submit:after {
	content: 'Submit'
}

.proceed {
	color: #ffffff;
	cursor: pointer;
	font-size: 1.8rem;
	border: 1px solid var(--color-primary);
	background: var(--color-primary);
	border-radius: .75rem;
	padding: 0.75rem 1rem;
}

.invalid {
	background:var(--color-disabled);
	border: 1px solid var(--color-disabled);
}