ol.steps {
	display: flex;
	justify-content: space-between;
	padding: 0;
	min-width: 40rem;
	flex-direction: row;
	list-style: none;	
	counter-reset: item;
	--text-size: 1.8rem
}

ol.steps > li.step {
	counter-increment: item;
	font-size: var(--text-size);
}

ol.steps > li.step.further {
	color: var(--color-disabled);
}
ol.steps > li.step.further:before {
   background: var(--color-disabled); 
}

ol.steps > li.step.progress:before {
	background: var(--color-primary);
}

ol.steps > li.step:before {
   margin-right: 0.8rem;
   content: counter(item);
   border-radius: 100%;
   color: #ffffff;
   width: 2.0rem;
   height: 2.0rem;
   text-align: center;
   font-size: var(--text-size);
   display: inline-block;
}