ol.steps {
	display: flex;
	justify-content: space-between;
	padding: 0;
	min-width: 40rem;
	flex-direction: row;
	list-style: none;	
	counter-reset: item;
}

ol.steps > li.step {
	counter-increment: item;
	font-size: 1.8rem;
}

ol.steps > li.step.further {
	color: #666
}
ol.steps > li.step.further:before {
   background: #666;
}

ol.steps > li.step.progress:before {
	background: #1dbdcb;
}

ol.steps > li.step:before {
   margin-right: 0.8rem;
   content: counter(item);
   border-radius: 100%;
   color: white;
   width: 2.0rem;
   height: 2.0rem;
   text-align: center;
   font-size: 1.8rem;
   display: inline-block;
}