:root {
  --color-primary: #1dbdcb;
  --color-primary-background: #1dbdcb33;
  --color-disabled: #666;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
